<h1>Edit the information of the establishment</h1>
<div class="content">
  <h2>Presentation</h2>
  <textarea id="description" matInput [(ngModel)]="establishment.description" placeholder="Presentation"></textarea>
  <br>

  <h2>Address</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.address.streetNumber" placeholder="Street number">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.address.streetName" placeholder="Street name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.address.zipCode" placeholder="ZIP code">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.address.city" placeholder="City">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.address.country" placeholder="Country">
  </mat-form-field>
  <br>

  <h2>Contact</h2>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.website" placeholder="Website">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.email" placeholder="E-mail">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.phone" placeholder="Phone">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="establishment.mobile" placeholder="Mobile">
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary" class="edit-establishment" (click)="editEstablishment()">Edit</button>
</div>
