<mat-toolbar color="primary" class="center">

  <button mat-button class="right-pipe" [routerLink]="['/']">
    <b>Tripozon-Pro-Admin</b>
  </button>

  <span class="login-spacer"></span>

  <button mat-button class="right-pipe" [routerLink]="['/privacy']">Privacy</button>
  <button mat-button (click)="logOut()">Authentication</button>

</mat-toolbar>
