button {
  font-size: 20px;
  font-family: 'Exo', sans-serif;
}

.login-spacer {
  flex: 1 1 auto;
}
.mat-card-image:first-child {
  margin-top: 15px;
}

.right-pipe{
  border-right: white;
  border-right-width: medium;
  border-right-style: solid ;
}
