<mat-list >
  <h1>Establishment list</h1>
  <mat-list-item *ngFor="let oneEstablishment of establishmentList">
    <mat-icon mat-list-icon>domain</mat-icon>
    <h4 mat-line>{{oneEstablishment.name}}</h4>
    <p mat-line> {{oneEstablishment.address.streetName}} | <b>{{oneEstablishment.address.city}}</b> </p>
    <button mat-raised-button color="primary" [routerLink]="['/establishment-detail/', oneEstablishment.id]">Detail</button>
    <button mat-raised-button color="primary" [routerLink]="['/staff/', oneEstablishment.id]">Staff</button>
    <button mat-raised-button color="primary" [routerLink]="['/images/', oneEstablishment.id]">Images</button>
  </mat-list-item>
</mat-list>
