<h1 class="center">{{establishment.name}}</h1>
<mat-progress-bar class="center" mat-line *ngIf="status == 'pending'" mode="indeterminate"></mat-progress-bar>

<div class="content" *ngIf="status !== 'pending'">

  <h2>Presentation</h2>
  <p>{{establishment.description.en}}</p>

  <br>
  <mat-divider></mat-divider>
  <br>

  <h2>Address</h2>
  Street: {{establishment.address.streetNumber}}, {{establishment.address.streetName}}<br>
  City: {{establishment.address.city}}<br>
  ZIP Code: {{establishment.address.zipCode}}<br>
  Country: {{establishment.address.country}}<br>

  <br>
  <mat-divider></mat-divider>
  <br>

  <h2>Contact</h2>
  Website: {{establishment.website}}<br>
  E-mail : {{establishment.email}}<br>
  Phone : {{establishment.phone}}<br>
  Mobile : {{establishment.mobile}}<br>

  <br>
  <button mat-button class="edit-establishment" (click)="openDialog()">Edit</button>

</div>
