<h1 *ngIf="data.action == 'add'">Add employee</h1>
<h1 *ngIf="data.action == 'edit'">Edit employee</h1>
<div class="content">
  <mat-form-field>
    <input matInput [(ngModel)]="employee.firstname" placeholder="Firstname">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="employee.lastname" placeholder="Lastname">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="employee.email" placeholder="E-mail">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select [(ngModel)]="employee.role" placeholder="Role">
      <mat-option value="employee">Employee</mat-option>
      <mat-option value="admin">Administrator</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" class="edit-establishment" (click)="action()">Submit</button>
</div>
