<h1>Authentication</h1>

<mat-progress-bar class="center" mat-line *ngIf="status == 'pending'" mode="indeterminate"></mat-progress-bar>
<div class="content" *ngIf="status !== 'pending'">
  <mat-form-field>
    <input matInput [(ngModel)]="establishmentId" placeholder="Identifier">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="email" placeholder="E-mail">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" [(ngModel)]="password" placeholder="password">
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary" class="edit-establishment" (click)="login()">Authentication</button>
</div>
