.content{
  color: gray;
}
.detail-employee, .edit-employee, .deactivate-employee{
  color: white;
}

.add-employee{
  background-color: green;
  color: white;
}

.edit-employee{
  color: blue;
}

.activate-employee{
  color: green;
}

.deactivate-employee{
  color: red;
}

.divider{
  width: 600px;
}

.staff{
  font-size: 20px;
  font-family: 'Exo', sans-serif;
  color: gray;
}

.employee-buttons{
  margin-left: 80px;
}
