<h1>Staff</h1>
<div class="content">
  <button mat-raised-button class="add-employee" (click)="openModal('add', emptyEmployee)">
    Add
  </button>
  <mat-progress-bar class="center" mat-line *ngIf="status == 'pending'" mode="indeterminate"></mat-progress-bar>
  <mat-list>
    <mat-list-item class="staff" *ngFor="let oneEmployee of allEmployees">
      <br>
      <img mat-list-avatar src="{{oneEmployee.avatarImgUrl}}">
      <h2 mat-line>{{oneEmployee.firstname}} {{oneEmployee.lastname}}</h2>
      <span mat-line><b>E-mail</b> : {{oneEmployee.email}}</span>
      <span mat-line><b>Account status</b> : {{(oneEmployee.isDisabled === true) ?'inactive':'active'}}</span>
      <span mat-line><b>Online</b> : {{oneEmployee.isOnline}}</span>
      <span mat-line></span>
      <span mat-line></span>
      <div mat-line class="employee-buttons">
        <button mat-button class="edit-employee" (click)="openModal('edit', oneEmployee)">
          Edit
        </button>

        <button mat-button
                *ngIf="oneEmployee.isDisabled === true"
                class="activate-employee"
                (click)="toggleDisableEmployee(oneEmployee.id)">
          Activate employee
        </button>
        <button mat-button
                *ngIf="oneEmployee.isDisabled !== true"
                class="deactivate-employee"
                (click)="toggleDisableEmployee(oneEmployee.id)">
          Deactivate employee
        </button>

        <button mat-button
                *ngIf="oneEmployee.canChat !== true"
                class="activate-chat"
                (click)="employeeCanChat(oneEmployee)">
          Activate chat
        </button>
        <button mat-button
                *ngIf="oneEmployee.canChat === true"
                class="deactivate-chat"
                (click)="employeeCanChat(oneEmployee)">
          Deactivate chat
        </button>
      </div>
      <br>
      <mat-divider style="width: 800px"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
