/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: 'Exo', sans-serif;
  color: gray;
}

mat-divider {
  width: 600px;
}

h1{
  color: black;
}

h2 {
  color: #3f51b5;
}

mat-progress-bar{
margin-top: 300px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.content{
  width: 800px;
  top: 100px;
  margin-left: 75px;
  font-size: 17px;
//font-family: 'Ubuntu Condensed', sans-serif;
//font-family: 'Asap', sans-serif;
//font-family: 'Exo', sans-serif;
//font-family: 'Kanit', sans-serif;
}
