<h1>Images</h1>

<div class="content">
  <textarea matInput [(ngModel)]="imageUrl" placeholder="Enter the url of your image"></textarea>
  <br>
  <button mat-raised-button class="add-url" color="primary" (click)="addImageUrl()">Add</button>
  <br><br><br>
  <div *ngFor="let oneImageUrl of establishment.albumImgUrls; let i = index">
    <img src="{{oneImageUrl}}"/>
    <br>
    <button mat-raised-button class="delete-url" (click)="deleteImageUrl(i)">Delete</button>

    <mat-divider></mat-divider>
  </div>
</div>
