textarea{
    width: 700px;
    height: 100px;
}

.add-url{
    width: 707px;
}

.delete-url{
  width: 500px;
  color: white;
  background-color: red;
}

img{
    width: 500px;
    height: 300px;
}

mat-divider{
    margin-top: 20px;
    margin-bottom: 20px;
    width:1000px;
}
